# Pair Programming ANOVA

En el pair programming de hoy usaremos el set de datos que guardastéis en el pair programming de normalización y estandarización.

En el ejercicio de hoy tendréis que hacer un ANOVA con vuestro datos y hacer una interpretación de los resultados.

📌 NOTA Puede que vuestros datos no se ajusten o no cumplan todas las asunciones, no pasa nada, haced el ANOVA e interpretad los resultados. En próximas lecciones aprenderemos que podemos hacer cuando nos encontramos en esta situación.

In [1]:
# Tratamiento de datos
# -----------------------------------------------------------------------
import numpy as np
import pandas as pd
import random 

# Gráficos
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Estadísticos
# ------------------------------------------------------------------------------
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.multivariate.manova import MANOVA
from sklearn.preprocessing import StandardScaler

plt.rcParams["figure.figsize"] = (10,8)

In [2]:
df = pd.read_csv('../archivos/coste_vida_limpio.csv', index_col = 0)
df.head()

,city,country,Meal_Inexpensive_Restaurant,Mealfor2_Midrange_Restaurant,McMeal_at_McDonalds,Cappuccino,Milk,Rice,Eggs_12uds,Chicken_Fillets,...,Primary_School_Yearly,Apt_1bed_inCentre,Apt_1bed_OutsideCentre,Apt_3beds_inCentre,Apt_3beds_OutsideCentre,Price_per_Square_Meter_inCentre,Price_per_Square_Meter_OutsideCentre,Average_Monthly_Net_Salary,Mortgage_Interest_Rate,data_quality
0,Seoul,South Korea,7.68,53.78,6.15,3.93,2.20,3.53,4.04,10.58,...,17902.55,742.54,557.52,2669.12,1731.08,22067.70,10971.90,2689.62,3.47,1.0
1,Shanghai,China,5.69,39.86,5.69,3.98,2.74,1.22,2.22,4.86,...,26379.45,1091.93,569.88,2952.70,1561.59,17746.11,9416.35,1419.87,5.03,1.0
2,Guangzhou,China,4.13,28.47,4.98,3.54,1.91,1.03,1.71,3.77,...,24556.21,533.28,317.45,1242.24,688.05,12892.82,5427.45,1211.68,5.19,1.0
3,Mumbai,India,3.68,18.42,3.68,2.48,0.75,0.83,0.95,3.69,...,3682.67,522.40,294.05,1411.12,699.80,6092.45,2777.51,640.81,7.96,1.0
4,Delhi,India,4.91,22.11,4.30,1.77,0.73,0.85,1.02,3.81,...,1964.24,229.84,135.31,601.02,329.15,2506.73,1036.74,586.46,8.06,1.0

In [11]:
len(df['city'].unique())

4898

In [5]:
df.shape

(4956, 36)

In [3]:
df.columns

Index(['city', 'country', 'Meal_Inexpensive_Restaurant',
       'Mealfor2_Midrange_Restaurant', 'McMeal_at_McDonalds', 'Cappuccino',
       'Milk', 'Rice', 'Eggs_12uds', 'Chicken_Fillets', 'Beef_Round',
       'Water_market', 'Wine_market', 'Domestic_Beer', 'Imported_Beer',
       'Cigarettes_Marlboro', 'One_way_TicketTransport',
       'Monthly_Pass_Regular_Price', 'Taxi', 'Gasoline', 'Basic',
       'Prepaid_Mobile', 'Internet', 'Gym_Monthly', 'Cinema',
       'Preschool_Monthly', 'Primary_School_Yearly', 'Apt_1bed_inCentre',
       'Apt_1bed_OutsideCentre', 'Apt_3beds_inCentre',
       'Apt_3beds_OutsideCentre', 'Price_per_Square_Meter_inCentre',
       'Price_per_Square_Meter_OutsideCentre', 'Average_Monthly_Net_Salary',
       'Mortgage_Interest_Rate', 'data_quality'],
      dtype='object')

In [8]:
lm = ols('Basic ~ country + Meal_Inexpensive_Restaurant + Mealfor2_Midrange_Restaurant + McMeal_at_McDonalds + Cappuccino + Milk + Rice + Eggs_12uds + Chicken_Fillets + Beef_Round + Water_market + Wine_market + Domestic_Beer + Imported_Beer + Cigarettes_Marlboro + One_way_TicketTransport + Monthly_Pass_Regular_Price + Taxi + Gasoline + Prepaid_Mobile + Internet + Gym_Monthly + Cinema + Preschool_Monthly + Primary_School_Yearly + Apt_1bed_inCentre + Apt_1bed_OutsideCentre + Apt_3beds_inCentre + Apt_3beds_OutsideCentre + Price_per_Square_Meter_inCentre + Price_per_Square_Meter_OutsideCentre + Average_Monthly_Net_Salary + Mortgage_Interest_Rate + data_quality', data=df).fit()
sm.stats.anova_lm(lm)

,df,sum_sq,mean_sq,F,PR(>F)
country,214.0,2.104825e+07,98356.309148,40.971407,0.000000e+00
Meal_Inexpensive_Restaurant,1.0,2.590407e+05,259040.688945,107.906260,5.239900e-25
Mealfor2_Midrange_Restaurant,1.0,1.718078e+05,171807.825171,71.568447,3.531935e-17
McMeal_at_McDonalds,1.0,3.008849e+04,30088.492742,12.533694,4.035442e-04
Cappuccino,1.0,5.326974e+04,53269.739644,22.190098,2.540521e-06
Milk,1.0,6.143329e+03,6143.328792,2.559071,1.097301e-01
Rice,1.0,4.040405e+04,40404.052285,16.830754,4.155612e-05
Eggs_12uds,1.0,8.699678e+04,86996.780600,36.239470,1.877477e-09
Chicken_Fillets,1.0,3.026181e+04,30261.809229,12.605891,3.882920e-04
Beef_Round,1.0,3.190699e+04,31906.986356,13.291208,2.695330e-04
Water_market,1.0,1.044580e+03,1044.579607,0.435131,5.095141e-01
Wine_market,1.0,4.107294e+02,410.729368,0.171094,6.791603e-01
Domestic_Beer,1.0,6.396364e+03,6396.364316,2.664476,1.026785e-01
Imported_Beer,1.0,7.710939e+04,77109.387596,32.120767,1.535159e-08
Cigarettes_Marlboro,1.0,1.169517e+05,116951.676402,48.717513,3.367453e-12
One_way_TicketTransport,1.0,5.911842e+04,59118.416130,24.626429,7.204508e-07
Monthly_Pass_Regular_Price,1.0,8.705316e+04,87053.162706,36.262956,1.855158e-09
Taxi,1.0,4.475779e+03,4475.779199,1.864435,1.721790e-01
Gasoline,1.0,2.745085e+05,274508.535512,114.349562,2.189550e-26
Prepaid_Mobile,1.0,4.784197e+04,47841.970394,19.929101,8.224618e-06
Internet,1.0,1.202690e+02,120.268963,0.050099,8.229002e-01
Gym_Monthly,1.0,3.771335e+04,37713.354750,15.709914,7.493008e-05
Cinema,1.0,2.639438e+04,26394.383523,10.994872,9.205634e-04
Preschool_Monthly,1.0,8.549550e+04,85495.498614,35.614094,2.581726e-09
Primary_School_Yearly,1.0,7.746525e+04,77465.246635,32.269004,1.423128e-08
Apt_1bed_inCentre,1.0,4.223114e+04,42231.136034,17.591846,2.787936e-05
Apt_1bed_OutsideCentre,1.0,2.005604e+03,2005.604104,0.835457,3.607463e-01
Apt_3beds_inCentre,1.0,3.210341e+03,3210.340685,1.337303,2.475688e-01
Apt_3beds_OutsideCentre,1.0,1.472928e+03,1472.928286,0.613565,4.334882e-01
Price_per_Square_Meter_inCentre,1.0,1.354196e+04,13541.955674,5.641051,1.758451e-02
Price_per_Square_Meter_OutsideCentre,1.0,5.961885e+03,5961.884667,2.483489,1.151140e-01
Average_Monthly_Net_Salary,1.0,2.112067e+04,21120.674286,8.798050,3.030679e-03
Mortgage_Interest_Rate,1.0,8.561072e+04,85610.721675,35.662092,2.519360e-09
data_quality,1.0,1.197458e+04,11974.583327,4.988145,2.556836e-02
Residual,4708.0,1.130206e+07,2400.608534,NaN,NaN